@use 'shared/styles/abstracts/mixins' as m;

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	gap: 1rem;
}

.productGrid {
	display: grid;
	grid-template-columns: 1fr;

	width: 100%;
	justify-items: center;
	grid-gap: 1rem;

	@media screen and (min-width: 464px) {
		grid-template-columns: repeat(2, 1fr);

		align-items: center;
		justify-content: space-between;
	}

	@include m.tablet {
		grid-template-columns: repeat(3, 1fr);
	}

	@include m.desktop {
		justify-items: end;
	}

	@include m.lg-desktop {
		grid-template-columns: repeat(4, 1fr);
	}
}
