.productCharact {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	gap: 1rem 0;

	h1.title {
		font-size: var(--fs-xl);
		font-weight: var(--fw-normal);
	}

	.specification {
		display: flex;
		justify-content: space-between;
		.title {
			margin-right: 3rem;
			font-weight: var(--fw-bold);
		}
		.desc {
			color: var(--color-blue);
		}
	}
}
