:root {
	/* Typography */
	--family: 'Inter', sans-serif;
	--fs-sm: 14px;
	--fs-md: 16px;
	--fs-lg: 18px;
	--fs-xl: 24px;
	--fs-xxl: 32px;
	--fs-xxxl: 46px;
	--fw-light: 400;
	--fw-normal: 500;
	--fw-bold: 600;

	--icon-size: 30px;

	// Z-INDEX
	--ui-index-1: 1; //для наползающих элементов в общем потоке
	--ui-index-2: 2; //для наползающих элементов в общем потоке
	--ui-index-3: 3; //для масок
	--ui-index-4: 4; //для модалок
	--ui-index-5: 5; //для элементов перекрывающих все
}

body[data-theme='dark'] {
	--bg-primary: #18191a;
	--bg-secondary: #242526;
	--bg-card: #202020;

	--color-primary: #7284fc;
	--color-primary-hover: #929ff7;
	--color-secondary: #bab8fa;
	--color-text: #fdfff7;

	--color-error: #ff3333;
	--color-white: #fdfff7;
	--color-black: #18191a;
	--color-grey: #e2e2e2;

	--bg-skeleton: #202020;
	--color-foreground: #363636;
}

body[data-theme='light'] {
	--bg-primary: #f7f8fa;
	--bg-secondary: #f7f8fa;

	--color-primary: #7284fc;
	--color-primary-hover: #929ff7;
	--color-secondary: #bab8fa;
	--color-text: #18191a;

	--color-error: #ff3333;
	--color-white: #fdfff7;
	--color-black: #18191a;
	--color-grey: #ccc;

	--box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
		rgb(209, 213, 219) 0px 0px 0px 1px inset;

	--bg-skeleton: #d8d8d9;
	--color-foreground: #e2e2e2;
}

$breakpoints: (
	mobile: 320px,
	tablet: 768px,
	desktop: 1024px,
	lg-desktop: 1380px
);
