.unauthorized_icon {
	width: 25px;
	height: 25px;
	color: var(--color-text);
}

@media screen and (max-width: 765px) {
	.unauthorized_icon {
		margin: 1rem 0;
	}
}

@media screen and (min-width: 765px) {
	.unauthorized_icon {
		margin: 0 1rem;
	}
}
