.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	.subtitle {
		font-size: var(--fs-md);
		font-weight: var(--fw-normal);
		text-align: center;
		line-height: 1.5rem;
	}
}
