.theme {
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: inherit;
	color: var(--color-text);

	svg {
		width: 25px;
		height: 25px;
	}

	&:hover .darkIcon {
		color: var(--color-blue);
	}

	&:hover .lightIcon {
		color: yellow;
	}

	.title {
		font-weight: var(--fw-normal);
		margin-left: 0.7rem;
	}
}
