.rating {
	display: flex;
	gap: 3px;

	button {
		background-color: transparent;
		cursor: pointer;
		.star {
			font-size: 1.2rem;
		}
	}
	.on {
		color: var(--color-blue);
	}
	.off {
		color: #ccc;
	}
}
