.shoppingBag {
	position: relative;

	svg {
		width: 25px;
		height: 25px;
		color: var(--color-text);
	}

	.cartQty {
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1.2rem;
		height: 1.2rem;
		transform: translate(20%, -100%);
		background-color: var(--color-blue);
		color: #fff;
		font-size: 0.9rem;
		pointer-events: none;
	}
}
