.container {
	width: 100%;
	height: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	text-align: center;

	.title {
		font-size: var(--fs-lg);
		font-weight: var(--fw-normal);
		color: var(--color-primary);
	}

	.subtitle {
		font-size: var(--fs-md);
	}

	.image {
		width: 15rem;
	}
}
