.rating {
	display: flex;
	gap: 3px;

	button {
		background-color: transparent;
		cursor: default;
		.star {
			font-size: 1.2rem;
		}
	}
	.on {
		color: var(--color-primary);
	}
	.off {
		color: var(--color-grey);
	}
}
